<div class="row">
      <div class="col-md-6 mx-auto  main-visual-background">
        <div class="main-border">
        <div class="main-visual-content">
            <p class="main-visual-content-text">
              ようこそ、NaganoCakeへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。<br>
            </p>
        </div>
        </div>
      </div>
    </div>


<div class="container">
  <h3>新着商品</h3>
   <div class="row">
    <% @products.first(5). each do |product| %>
      <div class="col-2">
        <div class="product-container">
          <%= link_to product_path(product.id), class: "btn-link", :style=>"color:#0099FF;" do %>
            <div id="img_field" class="product">
            <%= attachment_image_tag(product, :image, size: "180x130") %>
            </div>
            <p class="products-name">
              <%= product.name %>
            </p>
          <% end %>
          <p><%= product.tax_on %>円</p>
        </div>
      </div>
		<% end %>
    </div>
    <%= link_to "もっと見る>", products_path %>
   </div>
</div>


