<h2>注文履歴一覧</h2>

<div class="container">
  <div class="row">

  <table class="table">
	<thead class="table-secondary">
		<tr>
			<th>購入日時</th>
			<th>購入者</th>
			<th>注文個数</th>
			<th></th>
		</tr>
	</thead>
	<% @orders.each do |order| %>
	<tbody>
	  <tr>
  		<td><%= link_to order.created_at.strftime('%Y/%m/%d %H:%M'), admin_order_path(order) %></td>
  		<td><%= order.customer.last_name %><%= order.customer.first_name %></td>

  		<% total_amount = 0 %>
		  	<% order.order_details.each do |order_detail| %>
		  	<% total_amount += order_detail.amount %>
		  	<% end %>
  	    <td><%= total_amount %></td>
  		<td><%= order.status %></td>
		</tr>
	</tbody>
	<% end %>
</table>
<%= paginate @orders %>

  </div>
</div>