<div class="container">
 <div class="row">
  <div class="col-12">
   <h1>商品一覧</h1>
    <form class="form-inline">
      <% @products.each do |product| %>
        <div class="col-3">
          <%= attachment_image_tag product, :image, :fill, 100, 100%>
	        <p><%= link_to product_path(product) do %>
	        <%= product.name %>
	        <% end %></p>
	        <p><%= product.tax_on %>円</p>
        </div>
        <% end %>
    </form>
  </div>
 </div>
  <%= paginate @products %>
</div>