<div class="container">
  <div class="row mt-3">
    <div class="offset-sm-1 col-sm-3">
     <%= attachment_image_tag @product, :image, :fill, 200, 200 %>
    </div>
    <div class="col-sm-4">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td><h2><%= @product.name %></h2></td>
          </tr>
          <tr>
            <td><p><%= @product.introduction %></p></td>
          </tr>
          <tr>
            <td>
              <%= @product.tax_on %>(税込)
            </td>
          </tr>
          <tr>
            <td>
              <% if @product.is_active == true %>
                <%= form_for(@cart_item , url: cart_items_path, method: :post) do |f| %>
                  <%= f.hidden_field :product_id, value: @product.id %>
                  <%= f.select :amount, options_for_select((1..10).to_a), include_blank: "個数選択" %>
                  <%= f.submit "カートに入れる", class: "btn btn-primary" %>
                <% end %>
              <% elsif @product.is_active == false %>
                <h3>売り切れ中</h3>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>