<div class="container">
 <div class="row">
  <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
    <h2 class="head-line title_h2 text-center">商品編集</h2>
      <%= form_with model:[:admin,@product], local:true do |f| %>
        <tbody>
          <tr>
            <td>
              <div class="col-lg-8">
                <label>商品名<label>
            </td>
            <td>
              <%= f.text_field :name %>
            </td>
              </div>
          </tr>
          <tr>
            <td>
              <div class="col-lg-8">
                <label>商品画像<label>
                <%= f.attachment_field :image %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="col-lg-8">
                <label>商品説明<label>
                <%= f.text_area :introduction %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="col-lg-8">
                <label>ジャンル<label>
                <%= f.collection_select(:genre_id, @genre, :id, :name) %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="col-lg-8">
                <label>税抜価格<label>
                <%= f.number_field :price %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="col-lg-8">
                <label>販売ステータス<label>
                <%= f.select :is_active, [['販売中', true],['販売停止中', false]] %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <%= f.submit "投稿更新", class: "btn btn-success" %>
            </td>
          </tr>
        </tbody>
      <% end %>
  </div>
 </div>
</div>
