<% if @product.errors.any? %>
<p><%= @product.errors.count %> errors prohibited this product from being saved:</p>
<ul>
  <% @product.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
</ul>
<% end %>

<div class="container my-5">
  <h2 class="head-line title_h2 text-center">商品編集</h2>
   <div class="row mt-3">
    <div class="offset-sm-1 col-sm-3">
      <%= form_with model:[:admin,@product], local:true do |f| %>
        <div class="col-sm-4">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>商品名</td>
            <td>
              <%= f.text_field :name %>
            </td>
          </tr>
          <tr>
            <td>商品画像</td>
            <td>  
              <%= f.attachment_field :image %>
            </td>
          </tr>
          <tr>
            <td>商品説明</td>
            <td>  
              <%= f.text_area :introduction %>
            </td>
          </tr>
          <tr>
            <td>ジャンル</td>
            <td>  
              <%= f.collection_select(:genre_id, @genre, :id, :name) %>
            </td>
          </tr>
          <tr>
            <td>税抜価格</td>
            <td>
            <%= f.number_field :price %>
            </td>
          </tr>
          <tr>
            <td>販売ステータス</td>
            <td>
              <%= f.select :is_active, [['販売中', true],['販売停止中', false]] %>
            </td>
          </tr>
          <tr>
            <td>
              <%= f.submit "投稿更新", class: "btn btn-success" %>
            </td>
          </tr>
        </tbody>
      </table>
      <% end %>
   </div>
  </div>
 </div>
</div>
