<div class="container">
    <h1>商品一覧 管理者側</h1>
      <table>
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <% @products.each do |product| %>
        <tbody>
          <div class="row">
          <tr>
            <td>
	             <%= product.id %>
	           </td>
	           <td>
	             <%= link_to admin_product_path(product) do %>
	             <%= product.name %>
	             <% end %>
	           </td>
	           <td>
	             <%= product.price %>
	           </td>
	           <td>
	             <%= product.genre.name %>
	           </td>
	           <td>
	             <% if product.is_active == true %>
	               <p>販売中</p>
	             <% else product.is_active == false %>
	               <p>販売停止中</p>
	             <% end %>
	           </td>
          </tr>
          </div>
        </tbody>
        <% end %>
      </table>
  </div>

    <div class="text-center"><%= paginate(@products) %></div>
</div>
