<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2>商品一覧 管理者側</h2>
      <%= link_to new_admin_product_path, data: {"turbolinks" => false}, class: "btn btn-warning pull-right new_product" do %>
      <i class="fas fa-plus"></i>
      新規商品登録
      <% end %>
        <div class="col-md-8 col-md-offset-2">
          <table class="table table-hover table-condensed table-bordered">
            <thead>
              <tr class="info">
                <th>商品ID</th>
                <th>商品名</th>
                <th>税抜価格</th>
                <th>ジャンル</th>
                <th>ステータス</th>
              </tr>
            </thead>
            <% @products.each do |product| %>
            <tbody>
              <div class="row">
                <tr>
                  <td>
	                 <%= product.id %>
	                </td>
	                <td>
	                 <%= link_to admin_product_path(product) do %>
	                 <%= product.name %>
	                 <% end %>
	                </td>
	                <td>
	                 <%= product.price %>
	                </td>
	                <td>
	                 <%= product.genre.name %>
	                </td>
	                <td>
	                  <% if product.is_active == true %>
	                  <p>販売中</p>
	                  <% else product.is_active == false %>
	                  <p>販売停止中</p>
	                  <% end %>
	                </td>
                </tr>
              </div>
            </tbody>
          <% end %>
        </table>
      </div>
    </div>
  </div>
 <div class="text-center"><%= paginate(@products) %></div>
</div>
