<div class="row">
    <h2 class="head-line title_h2 text-center">商品詳細</h2>
  <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
	             <%= attachment_image_tag @product, :image, :fill, 60, 60%>
      <div class="col-md-8 col-md-offset-2">
        <table class="table table-hover table-inverse table-bordered">

              <div class="form-group">
	             <%= @product.name %>
              </div>

              <div class="form-group">
	             <%= @product.price %>
              </div>

              <div class="form-group">
	             <%= @product.genre.name %>
              </div>

              <div class="form-group">
	             <% if @product.is_active == true %>
	               <p>販売中</p>
	             <% else @product.is_active == false %>
	               <p>販売停止中</p>
	             <% end %>
              </div>

              <div class="form-group">
	             <%= link_to "Edit", edit_admin_product_path(@product) %>
              </div>

        </table>
      </div>
    </div>
  </div>
</div>