<div class="container">
    <h1>商品詳細</h1>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <div class="row">
          <tr>
            <td>
	             <%= attachment_image_tag @product, :image, :fill, 60, 60%>
	           </td>
	           <td>
	             <%= @product.name %>
	           </td>
	           <td>
	             <%= @product.price %>
	           </td>
	           <td>
	             <%= @product.genre.name %>
	           </td>
	           <td>
	             <% if @product.is_active == true %>
	               <p>販売中</p>
	             <% else @product.is_active == false %>
	               <p>販売停止中</p>
	             <% end %>
	           </td>
	           <td>
	             
	             <%= link_to "Edit", edit_admin_product_path(@product) %>
	           </td>
          </tr>
          </div>
        </tbody>

      </table>
  </div>