<h2>ログイン</h2>

    <div>会員の方はこちらからログイン</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="row">
      <div class="col-sm-2 col-form-label"><%= f.label "メールアドレス" %></div>
      <div class="col-sm-4"><%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %></div>
    </div>

    <div class="row">
      <div class="col-sm-2 col-form-label"><%= f.label "パスワード" %></div>
      <div class="col-sm-4"><%= f.password_field :password, autocomplete: "current-password", class:"form-control" %></div>
    </div>

    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <%= f.submit "ログイン", class:"btn btn-primary" %>
      </div>
      <% end %>
      </div>

    <div class="row">
    <div class="col-sm-7">会員登録がお済みでない方</div>
    </div>
    <div class="create-user-button"><%= link_to "こちら", new_customer_registration_path %>　から新規登録を行ってください。</div>

  </div>

</div>