  <div class="row">
    <div class="col-xs-8">
      <h2>配送先登録/一覧</h2>
      <%= form_with model: @address, local:true do |f| %>
	      <table class="table">
					<thead>
					</thead>
					<tbody>
						<tr>
							<td>郵便番号（ハイフンなし）</td>
							<td><%= f.text_field :post_code %></td>
							<td></td>
						</tr>
						<tr>
							<td>住所</td>
							<td><%= f.text_field :address  %></td>
							<td></td>
						</tr>
						<tr>
							<td>宛名</td>
							<td><%= f.text_field :name %></td>
							<td><%= f.submit "新規登録", class: "new-address-btn" %></td>
						</tr>
					</tbody>
				</table>
			<% end %>
			<table class="table table-bordered">
				<thead>
					<tr class = "active">
						<th>郵便番号</th>
						<th>住所</th>
						<th>宛名</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @addresses.each do |address| %>
						<tr>
							<td><%= address.post_code %></td>
							<td><%= address.address %></td>
							<td><%= address.name %></td>
							<td>
								<%= link_to "編集する", edit_address_path(address.id), class: "btn btn-success" %>
								<%= link_to "削除する", address_path(address), class: "btn btn-danger", method: :delete %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
    </div>
  </div>
</div>