     <div class="row" style="padding:50px">
     	<div class="col-2"></div>
     	<h4>配送先登録/一覧</h4>
     </div>
     
     <%= form_with model: @address, local:true do |f| %>
      <div class="row" style="margin-bottom:10px">
    <div class="col-2"></div>
		<div class="col-3">郵便番号（ハイフンなし）</div>
		<div class="col-2"><%= f.text_field :post_code, class:"form-control" %></div>
	  </div>

	  <div class="row" style="margin-bottom:10px">
	  <div class="col-2"></div>
		<div class="col-3">住所</div>
		<div class="col-4"><%= f.text_field :address, class:"form-control" %></div>
	  </div>

	  <div class="row" style="margin-bottom:10px">
	  <div class="col-2"></div>
		<div class="col-3">宛名</div>
		<div class="col-2"><%= f.text_field :name, class:"form-control" %></div>
		<div class="col-1"></div>
		<div class="col-4"><%= f.submit "新規登録", class: "btn btn-success" %></div>
	  </div>
	  <% end %>

      <div class = "row" style="padding:80px">
    	<div class="col-1"></div>
    	<div class="col-6">
			<table class="table table-bordered">
				<thead>
					<tr class = "active">
						<th>郵便番号</th>
						<th>住所</th>
						<th>宛名</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @addresses.each do |address| %>
						<tr>
							<td><%= address.post_code %></td>
							<td><%= address.address %></td>
							<td><%= address.name %></td>
							<td>
								<%= link_to "編集する", edit_address_path(address.id), class: "btn btn-success" %>
								<%= link_to "削除する", address_path(address), class: "btn btn-danger", method: :delete %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
       </div>
      </div>
</div>