<% cart_items.each do |cart_item| %>
  <tbody>
    <tr>
      <td>
        <%= link_to product_path(cart_product.product) do %>
          <%= attachment_image_tag cart_product.product, :image, fallback: "no_image.png", size:'50x50', class: "customer_product" %>
        <% end %>
        <%= cart_item.product.name %>
      </td>
      <td>
        <%= cart_item.product.tax_on %>
      </td>
      <td>
        <%= form_with model: cart_item, remote: true do |f| %>
        <%= f.number_field :amount, min: 1, max: 10 %>
        <%= f.submit "変更", class: "btn btn-info" %>
        <% end %>
      </td>
      <td>
        <%= cart_item.tax_on_price %>
      </td>
      <td>
        <%= link_to "削除する", cart_item_path(cart_product), class: "btn btn-danger btn-md glyphicon glyphicon-trash", method: :delete %>
      </td>
    </tr>
  </tbody>
<% end %>