

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
      <header class="navbar navbar-fixed-top navbar-inverse" style="background:#FFFF88;">
      <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">

      <div class="wrapper site-header__wrapper">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <% if admin_signed_in? %>

      <h2><%= link_to "NAGANO_CAKE", admin_products_path, class:"text-dark" %></h2>
      <% else %>
      <h2><%= link_to "NAGANO_CAKE", "/", class:"text-dark" %></h2>

      <% end %>


    </nav>

    <nav>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <nav class="navbar navbar-expand-lg navbar-light">

      <ul class="nav navbar-nav navbar-right">

        <% if customer_signed_in? %>

          <!--カスタマーがログインしている時 -->
          <li class="header-name">
            ようこそ、<%= current_customer.first_name %>さん！
          </li>
            <ul class="navbar-nav ml-auto">

          <li>
            <%= link_to "マイページ　", my_page_customers_path(current_customer), class:"fas fa-user text-dark" %>
          </li>
          <li>
            <%= link_to "商品一覧　", products_path, class:"fas fa-birthday-cake text-dark" %>
          </li>

          <li>
            <%= link_to cart_items_path, data: {"turbolinks" => false},
             class:"fas fa-shopping-cart text-dark" do %>カート(<%= current_customer.cart_items.count %>個)　
            <% end %>
          </li>
          <li>
            <%= link_to "ログアウト　", destroy_customer_session_path, method: :delete, class:"fas fa-sign-out-alt text-dark" %>
          </li>

        <% elsif admin_signed_in? %>
         </button>
         </nav>





 <nav>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <nav class="navbar navbar-expand-lg navbar-light">

      <ul class="nav navbar-nav ml-auto">




          <!-- 管理者がログインしている時 -->
          <li class="nav-item">
            <%= link_to "商品一覧　" ,admin_products_path , class:"fas fa-birthday-cake text-dark" %>
          </li>
          <li class="nav-item">
            <%= link_to "会員一覧　", admin_customers_path, class:"fas fa-users text-dark"  %>
          </li>
          <li class="nav-item">
            <%= link_to "注文履歴一覧　", admin_orders_path, class:"fas fa-history text-dark" %>
          </li>
          <li class="nav-item">
            <%= link_to "ジャンル一覧　", admin_genres_path, class:"fas fa-file text-dark" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "fas fa-sign-out-alt text-dark" %>
          </li>


        <% else %>



<nav>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <nav class="navbar navbar-expand-lg navbar-light">

      <ul class="nav navbar-nav navbar-right">
         <li class="nav-item">
            <%= link_to "About　", products_path, class:"fas fa-link text-dark" %>
          </li>

          <li class="nav-item">
            <%= link_to "商品一覧　", products_path, class:"fas fa-birthday-cake text-dark" %>
          </li>
          <li class="nav-item">
            <%= link_to "新規登録　", new_customer_registration_path, data: {"turbolinks" => false}, class:"fas fa-user-plus text-dark" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン　", new_customer_session_path, class:"fas fa-sign-in-alt text-dark" %>
          </li>

        <% end %>
      </ul>
      </ul>
      </ul>
    </nav>
    </div>
    </div>
    </div>
    </button>
    </nav>

</header>
