<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="full-page">
    <%= render "layouts/header" %>
    <% if flash[:notice] %>
    <%= flash[:notice] %>
    <% end %>
    <%= yield %>
  </body>
</html>